# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# NPM
node_modules
.npm
.npmrc

# Storybook
storybook-static

# Jest coverage
coverage

# IntelliJ IDE
.idea

# Other
.DS_Store
.dev
_notes
