# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Storybook
storybook-static

# Other
.idea
.DS_Store
.npmrc
_notes
